
<!--Pagina di errori-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="my-5">{{message}}</h1>
        <h2 class="mb-5">{{status}}</h2>
        {{#if back}}
          <a href="javascript:history.back()" class="btn btn-primary mb-5" role="button">Indietro</a>
        {{/if}}
    </div>
  </div>
</div>

