<!--Pagina di login-->
<div id="alert-credential-error" class="alert alert-danger alert-dismissible fade show text-center"
    style="position:absolute; width:100%; opacity:0; top:0px; visibility:hidden" role="alert">
    Email o password errata
</div>

<div class="container">
    <div class="row justify-content-center minh-navbar h-auto">
		<div class="col-12 my-5 text-center">
			<h1 class="page-title">
				Accedi
			</h1>
		</div>
		<div class="col-10 col-md-6">
			{{#each errors}}
				<div class="alert alert-danger" role="alert">
					<div class="d-flex">
						<i class="material-icons">warning</i>
						<div class="fade show">
							Si è verificato un errore
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	<div class="row justify-content-center">
		<form class="col-10 col-md-6" method="POST">
			<div id="login-form" class="needs-validation">
				<div class="form-group text-left">
					<label for="email">Indirizzo mail</label>
					<input required name="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Il tuo indirizzo email">
				</div>
				<div class="form-group text-left">
					<label for="password">Password</label>
					<div id="password-input" class="input-group mb-2">
						<input required name="password" type="password" class="form-control border-right-0" id="password" placeholder="Inserisci Password">
						<div class="input-group-append">
							<span class="input-group-text bg-white"><i class="material-icons js-eye">visibility_off</i></span>
						</div>
					</div>
					<a href="/recover-password" class="forgot">Ho dimenticato la password</a>
				</div>
				<button type="submit" value="Login" class="btn btn-primary">Accedi</button>
				<hr>
				<p>Sei nuovo? <a href="/register">Registrati!</a></p>
			</div>
		</form>
	</div>
</div>


<script type="text/javascript">
    function passwordInputController(elementId) {
        const passwordInput = document.getElementById(elementId);
        const inputElement = passwordInput.querySelector('input');
        const icon = passwordInput.querySelector('i');
        const visibilityElement = passwordInput.querySelector('span');
        function toggleVisibility() {
            if (inputElement.type === "password") {
                icon.innerHTML = 'visibility';
                inputElement.type = "text";
            } else {
                inputElement.type = "password";
                icon.innerHTML = 'visibility_off';
            }
        }
        visibilityElement.onclick = toggleVisibility;
    }
    passwordInputController('password-input')
</script>