<section class="t-page__section c-product">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">{{title}}</h1>
        <div class="body">
          {{{body}}}
        </div>
      </div>
    </div>
  </div>
</section>