

<section class="t-page__section c-product">
  <div class="container">
		<div class="row justify-content-center minh-navbar h-auto">
			<div class="col-10 col-md-6 col-lg-6">
					{{#each messages}}
						<div class="c-error message">
							<div class="icon"><i class="material-icons">info</i></div>
							<div class="list">
								<div class="fade show" role="alert">
										Se sei già registrato riceverai una mail con le informazioni per il recupero password all'indirizzo inserito
								</div>
							</div>
						</div>
					{{/each}}
					{{#each errors}}
					<div class="c-error">
						<div class="icon"><i class="material-icons">warning</i></div>
						<div class="list">
								
									<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
											Si è verificato un errore
									</div>
									<!--<div class="single-error">{{type}} - {{text}}</div>-->
								
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="row justify-content-center minh-navbar h-auto">
			<form class="col-md-4" method="POST" action="/recover-password">
					<h3 class="text-center mt-6 mb-4r">Recupera la password</h3>
					<div id="password-recover-form" class="needs-validation text-center">
							<div class="form-group text-left">
									<label for="email">Indirizzo E-mail</label>
									<input required name="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Inserisci il tuo indirizzo E-mail">
							</div>
							<button value="recover-password" class="btn btn-primary login">Recupera password</button>
					</div>
			</form>
    </div>
  </div>
</section>