<!--Pagina di richiesta recupero password-->

<div class="container">
	<div class="row justify-content-center">
		<div class=" text-center col-12 my-5">
			<h1 class="page-title">
				Recupera la password
			</h1>
		</div>
		<div class="col-10 col-md-6">
				{{#each messages}}
					<div class="alert alert-secondary" role="alert">
						<div class="d-flex">
							<i class="material-icons mr-2">info</i>
							<div class="fade show">
								Se sei già registrato riceverai una mail con le informazioni per il recupero password all'indirizzo inserito
							</div>
						</div>
					</div>
				{{/each}}
				{{#each errors}}
					<div class="alert alert-danger" role="alert">
						<div class="d-flex">
							<i class="material-icons">warning</i>
							<div class="fade show">
								Si è verificato un errore
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
		<div class="row justify-content-center">
		<form class="col-10 col-md-6" method="POST" action="/recover-password">
			<div id="password-recover-form" class="needs-validation text-center">
				<div class="form-group text-left">
						<label for="email">Indirizzo E-mail</label>
						<input required name="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="mail@mail.com">
				</div>
				<button value="recover-password" class="btn btn-primary login">Recupera password</button>
			</div>
		</form>
    </div>
  </div>
