<!--Pagina di reimpostazione password (accessibile dalla mail inviata dalla pagina recover-password.hbs-->

<div class="container">
	<div class="row justify-content-center">
		<div class=" text-center col-12 my-5">
			<h1 class="page-title">
				Reimposta la password
			</h1>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-10 col-md-6">
			{{#each errors}}
				<div class="alert alert-danger" role="alert">
					<div class="d-flex">
						<i class="material-icons">warning</i>
						<div class="fade show">
							Si è verificato un errore
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>

	<div class="row justify-content-center">
		<form class="col-10 col-md-6" method="POST">
			<div id="password-recover-form" class="needs-validation text-center">
				<div class="form-group text-left">
					<label for="password">Password</label>
					<div id="password-input" class="input-group">
						<input required name="password" type="password" class="form-control border-right-0" id="password"
						placeholder="Inserisci Password">
						<div class="input-group-append">
							<span class="input-group-text bg-white"><i class="material-icons js-eye">visibility_off</i></span>
						</div>
					</div>
				</div>
					<div class="form-group text-left ">
					<label for="password_confirmation">Ripeti Password</label>
					<div id="repeat-password" class="input-group">
						<input required name="password_confirmation" type="password" class="form-control border-right-0" id="repeat-password-input"
						placeholder="Inserisci di nuovo la Password">
						<div class="input-group-append">
							<span class="input-group-text bg-white"><i class="material-icons js-eye">visibility_off</i></span>
						</div>
					</div>
				</div>

				<button value="recover-password" class="btn btn-primary login">Imposta password</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
    function passwordInputController(elementId) {
        const passwordInput = document.getElementById(elementId);
        const inputElement = passwordInput.querySelector('input');
        const icon = passwordInput.querySelector('i');
        const visibilityElement = passwordInput.querySelector('span');
        function toggleVisibility() {
            if (inputElement.type === "password") {
                icon.innerHTML = 'visibility';
                inputElement.type = "text";
            } else {
                inputElement.type = "password";
                icon.innerHTML = 'visibility_off';
            }
        }
        visibilityElement.onclick = toggleVisibility;
    }
    passwordInputController('password-input')
    passwordInputController('repeat-password')
</script>