<section class="t-page__section c-product">
	<div class="container">
		<div class="row justify-content-center minh-navbar h-auto">
			<div class="col-10 col-md-6 col-lg-6">
				{{#each errors}}
				<div class="c-error">
					<div class="icon"><i class="material-icons">warning</i></div>
					<div class="list">
						<div class="fade show" role="alert">
								Si è verificato un errore
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="row justify-content-center minh-navbar h-auto">
			<form class="col-md-4" method="POST">
				<h3 class="text-center mt-6 mb-4r">Imposta la nuova password</h3>
				<div id="password-recover-form" class="needs-validation text-center">
					<div class="form-group text-left">
						<label for="password">Password</label>
						<div id="password-input" class="input-group">
							<input required name="password" type="password" class="form-control border-right-0" id="password"
							placeholder="Inserisci Password">
							<div class="input-group-append">
								<span class="input-group-text bg-white"><i class="material-icons js-eye">visibility_off</i></span>
							</div>
						</div>
					</div>
         			 <div class="form-group text-left ">
						<label for="password_confirmation">Ripeti Password</label>
						<div id="repeat-password" class="input-group">
							<input required name="password_confirmation" type="password" class="form-control border-right-0" id="repeat-password-input"
							placeholder="Inserisci di nuovo la Password">
							<div class="input-group-append">
								<span class="input-group-text bg-white"><i class="material-icons js-eye">visibility_off</i></span>
							</div>
						</div>
					</div>

					<button value="recover-password" class="btn btn-primary login">Imposta password</button>
				</div>
			</form>
		</div>
	</div>
</section>